@import url("https://fonts.googleapis.com/css?family=Handlee&display=swap");
p {
  font-family: "Handlee";
  font-size: 20px;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (max-width: 667px) {
  .boxIntro {
    display: none;
  }
}
